version: '3.4'

services:
  shardeum-dashboard:
    container_name: shardeum-dashboard
    # network_mode: 'host'
    image: local-dashboard
    build:
      context: .
      dockerfile: Dockerfile
    # volumes:
      # - './config.json:/usr/src/app/config.json:Z'
      # - './data/logs:/usr/src/app/logs:Z'
      # - './data/db:/usr/src/app/db:Z'
    # restart: 'always'
    env_file: .env
    ports:
      - '9001-9010:9001-9010'
      - '10001-10010:10001-10010'
      - '8080:8080'
      - '3001:3001'
